/*@media all and (min-width: 850px) {

	body {
	  	    color: #3b3b3b;
		    background-image: url('../../images/druplicon-small.png');
		    background-repeat: no-repeat;
		    background-size: unset;
		    background-position: center; 
		    background-attachment: fixed;
		    background-color: black;
	    
	}
}

@media all and (min-width: 560px) and (max-width: 850px) {

	body {
	  	    color: #3b3b3b;
		    background-image: url('../../images/druplicon-small.png');
		    background-repeat: no-repeat;
		    background-size: unset;
		    background-position: center; 
		    background-attachment: fixed;
		    background-color: black;
	    
	}
}

@media all and (max-width: 560px) {

	body {
	  	    color: #3b3b3b;
		    background-image: url('../../images/druplicon-small.png');
		    background-repeat: no-repeat;
		    background-size: unset;
		    background-position: center; 
		    background-attachment: fixed;
		    background-color: black;
	    
	}
}
*/
#page-wrapper{
	background-image: url('../../images/druplicon-small.png'),radial-gradient(circle,#00b7ff, #00b7ff 100px, rgba(255,255,255,0),rgba(255,255,255,0));
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
}