@media all and (min-width: 850px) {

	body {
	  	    color: #3b3b3b;
		    background-image: url('../../images/default.gif');
		    background-repeat: no-repeat;
		    background-size: cover;
		    background-position: center; 
		    background-attachment: fixed;
		    background-color: black;
		    animation-iteration-count: infinite;
	    
	}
}

@media all and (min-width: 560px) and (max-width: 850px) {

	body {
	  	    color: #3b3b3b;
		    background-image: url('../../images/default.gif');
		    background-repeat: no-repeat;
		    background-size: cover;
		    background-position: center; 
		    background-attachment: fixed;
		    background-color: black;
		    animation-iteration-count: infinite;
	    
	}
}

@media all and (max-width: 560px) {

	body {
	  	    color: #3b3b3b;
		    background-image: url('../../images/default.gif');
		    background-repeat: no-repeat;
		    background-size: cover;
		    background-position: center; 
		    background-attachment: fixed;
		    background-color: black;
		    animation-iteration-count: infinite;
	    
	}
}

video{
	position: fixed;
	top: 50%;
	left: 50%;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -100;
	transform: translateX(-50%) translateY(-50%);
	transition: 1s opacity;
	
}

iframe{
	width: 100%;
}