
{{ attach_library('cvbasic/cvbasic-styling') }}


{#
	Note : Afin de réussir l'objectif : changer le background en fonction du contenu que l'on utilise.
	Il a fallu passer par une méthode peu aprécier du saint-siège : !important
	Voir modules/custom/cvbasic/css/cvbpage.css
#}
{#
	Amélioration futur du template. Donner récupéré a partir de la BDD.
#}

<div class="cvId" id="card">
	<h1>Carte D'identité</h1>
	<a href="https://github.com/emilienGallet"><img id="github" src="/modules/custom/cvbasic/images/GitHub-Mark.png" width="560px" height="560px"></a>
	<div class="cvId" id="imgcard">
		<img src="/modules/custom/cvbasic/images/CarteID.png" width="151px" height="196px">
	</div>
	<div class="cvId" id="idcard">
		<h2 class="cvId">Émilien Gallet</h2>
		<p class="cvId">Né le 1er Aôut 1995 (<span>21 ans</span>)</p>
		<p class="cvId">Français</p>
		<p class="cvId"><span>42350</span> La Talaudière</p>
		<p class="cvId"><span>06 29 01 74 80</span></p>
		<a class="cvId" href="mailto">emilienflorentclaude.gallet@gmail.com</a>
	</div>
</div>
<h2 class="cvFormation">Formation</h2>

<h3 class="cvFormation">2014</h3>
<p class="cvFormation"><em id="SIG">Bac STMG spécialité SIG <img src="/modules/custom/cvbasic/images/iconeintergp.png" width="255px" height="255px"></em>
<!-- CSS underline & em:after "?" sigle + em:hover{content:"Science Informatique en Gestion (Sig)"}  --> 
 au Lycée Simone Weil (42270)</p>
<p class="cvFormation">Mention assez bien</p>

<h3>2016</h3>
<p class="cvFormation"><em id="SLAM">BTS SIO spécialité SLAM <img src="/modules/custom/cvbasic/images/iconeintergp.png" width="255px" height="255px"></em>
<!-- CSS underline & em:after "?" sigle + em:hover{content:"Service informatique aux organisation ; Dévellopeur"}  --> 
 au Lycée Simone Weil (42270)</p>
<p class="cvFormation">12.66 dont 16 en pratique et 11.5 à l'étude de cas</p>

<h3 class="cvFormation">2016</h3>
<p class="cvFormation"><em>Licence 3 Informatique</em>
<!-- CSS underline & em:after "?" sigle + em:hover{content:"Service informatique aux organisation ; Dévellopeur"}  --> 
 à Besançon</p>

<h2 class="cvExpériencePro">Expérience Professionelles</h2>
<h3 class="cvExpériencePro">2015</h3>
<p class="cvExpériencePro"><em>Stage</em> à l'inspection académique</p>
<p class="cvExpériencePro">Objectif : Réalisation d'un fil d'actualité sous Wordpress et approche d'Ionic. Réflexion et proposition d'analyse dans un projet.</p>

<h3 class="cvExpériencePro">2016</h3>
<p class="cvExpériencePro"><em>Stage</em> au comité Unicef</p>
<p class="cvExpériencePro">Réalisation d'un site sous <em>Drupal 8 </em><a href="" title="En savoir plus sur ce projet"></a></p>

<h2>Compétences</h2>
<h3>Informatique</h3>
<ul>
	<li>SQL</li>
	<li>Symfony</li>
	<li>Vaadin</li>
	<li>Analyse et Diagramme UML</li>
	<li>HTML</li>
	<li>CSS</li>
	<li>C et C++</li>
	<li>Java</li>
	<li>php</li>
</ul>
<h3>Capacités</h3>
<ul>
	<li>Aprendre un framework</li>
	<li>Rédaction de contenus</li>
	<li>Autonomie, Motivé</li>
	</ul>
<h2>Centre d'intérets</h2>
<ul>
	<li>Natation</li>
	<li>Vélo</li>
	<li>Geek</li>
	<li>Bénévole</li>
	<li>Formula-E</li>
</ul>